h1{
}

button{
    border-color: #5da4b6;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    transition: 500ms ease;

}


button:hover{
    background-color: #5da4b6;
    color: white;
}

body{
    margin: 20px;
    font-family: Helvetica, sans-serif;
}

#mainbdy{
    display: flex;

}

#left{
    display: flex;
    flex-direction: column;
}

.content{
    text-align: center;
    border-color: #5da4b6;;
    border-width: 20px;
    border-style: solid;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;

}

h3{
    text-align: left;
}

#curr{
    width: 100%;
    height: 650px;

     
}

#toolbar{
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 20px;
    justify-content: space-around;
}

.content-box{
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content-row{
    background-color: rgb(207, 207, 207);
    padding: 10px;
    font-size: 10px;
    margin: 5px;
}